<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head.ejs %>
</head>
<body>
<% include ../partials/header.ejs %>
<h1>BOOKS</h1>

<section class="book-section">
	    <% for (var i = 0; i < books.length; i++) { %>

	   
	<div id="book-image">
	<a href="/books/<%= books[i].id %>">
		<img src="<%=books[i].image%>">
		</a>

	</div>
<% } %>
</section> 

	

</body>
</html>