<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head.ejs %>
</head>
<body>
<% include ../partials/header.ejs %>
<h1>BOOKS COLLECTION</h1>

<section id="scroll" class="flexcroll flexcrollactive">
	<div id="scroll_mcontentwrapper" class="mcontentwrapper">
		<div id="scroll_contentwrapper" class="contentwrapper">
			<ul>
				<% for (var i = 0; i < books.length; i++) { %>
				<li>
					<a href="/books/<%= books[i].id %>">
						<img src="<%=books[i].image%>">

					</a>
				</li>
				<% } %>
			</ul>
			
		</div>
	</div>

</section> 


	

</body>
</html>