<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head.ejs %>

</head>
<body>
<% include ./partials/header.ejs %>

<h1>BOOK TRACKER APP</h1>

Authors have books...<br><br>
Here's a handy app to track all your favorites...
<br>
<br>
<section class="image">
	<a href="/authors">
		<div class="image-container">
			<img class="intro-pic" src="img/library.jpg">
		</div>
	</a>
	<a href="/books">
<div class="image-container">
	<img class="intro-pic" src="img/kindle.jpg">
</div>
</a>
</section>


</body>
</html>