<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head.ejs %>

</head>
<body>
<% include ./partials/header.ejs %>

<h1>BOOK TRACKER APP</h1>

Authors have books...<br><br>
Here's a handy app to track all your favorites...



</body>
</html>